extends ../layouts/layout.pug

block styles
  link(rel='stylesheet' href='/css/orders.css')

block content
  main
    if orders.length > 0
      ul.orders
        each order in orders
          li.orders__item
            h1 Order - # #{order._id}
            ul.orders__products
              each product in order.products
                li.orders__products-item #{product.product.title} (#{product.quantity}) 
      //- .centered
      //-   form(action="/order" method='POST')
      //-     button.btn(type="submit") Order Now!
    else
      h1 No Orders!
